input {
    padding: 8px;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 7px;
    margin-top: 350px;
    margin-bottom: 80px;
}

.add-btn {
    font-size: 15px;
    padding: 8px;
    border-radius: 7px;
    background-color: #fafa1b;
    box-shadow: 3px 3px 2px grey;
}